body {
    color: #fff;
    background-color: #4F8BF9;
}

.stButton>button {
    color: #4F8BF9;
    border-radius: 100%;
    height: 5.75em;
    width: 16em;
    font-size: 1.25em;
}

.stDownloadButton>button {
    color: #4F8BF9;
    border-radius: 100%;
    height: 5.75em;
    width: 16em;
    font-size: 1.25em;
}

/* .stTextInput>div>div>input {
    color: #4F8BF9;
} */